django-paypal
python-dotenv
gunicorn
django==3.0
django-crispy-forms
psycopg2-binary==2.8.6
python-magic
celery[redis]==4.4.2
dj3-cloudinary-storage
dj3-cloudinary-storage[video]
django-storages 
djongo
boto3
Pillow
django-cloudistatic
dj-static
redis
wget