{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>{% block head_title %}T4c-Digital{% endblock head_title %}</title>

    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
 
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

        {% block head_extra %} {% endblock head_extra %}

  </head>
  <script src="https://use.fontawesome.com/669a9c5788.js"></script>

  <!-- <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script> -->

  <body>
    
    {% include "header.html" %}

  

  {% block style %}
  
  {% endblock style %}
  

{% block content %}





{% endblock content %}

{% block js %}

{% endblock js %}

<!-- 
<script src="https://www.paypal.com/sdk/js?client-id=test&components=buttons&currency=USD"></script>
<script src="{% static 'assets/js/paypal.js' %}"></script> -->
{% include "footer.html" %}

</body>
</html>